# ======================
# CSharp
# ======================
csharp/**/bin/
csharp/**/obj/

# ======================
# Rust
# ======================
rust/**/target/
rust/**/.vscode/
rust/**/*.rs.bk

rust/**/Cargo.lock